body{
		margin: 0px;
		padding: 0px;

    width:100%;
		font-family: "Helvetica", sans-serif;
	}

header{
  padding-top: 15px;
  background-color: #D5D6D8;
  width: 100%;
}

header img{
	width: 5%;
  height: 5%;
  padding-bottom: 10px;
}

nav{
  margin-bottom: 30px;
}

.overview{
  margin-top: 8px;
  margin-bottom: 10px;
}

.footer{
  background-color: #D5D6D8;
  margin-left: 0px
  margin-right: 0px;
  width: 100;

  margin-top: 180px;
}

.loginForm{
	margin-top: 30px;
	margin-bottom: 20px;
}

h2{
	margin-top: 20px;
	margin-bottom:20px;
	}

.chart{
	margin-top: 20px;
	margin-bottom: 20px;
}

.afterChart{
	margin-top: 10px;
	margin-bottom: 15px;
}

.card img{
	align-items: center;
	width: 20px;
}
