<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css" />

    <title>Turbine Management Portal | Site View</title>
  </head>

  <body>
    <div class="container-fluid">

      <header>
        <div class="row">
          <img src="./img/ags_logo.png" style="display: inline;">
    			<h1 style="display: inline;">Turbine Management Portal</h1>
        </div>
  		</header>

      <div class="container" id="siteData">
        <table class="table">

          <thead class="text-success">
            <tr>
              <th scope="col">Site #</th>
              <th scope="col">Name</th>
              <th scope="col">Primary Contact</th>
              <th scope="col">Capacity</th>
              <th scope="col">Commercial Date</th>
              <th scope="col">State</th>
             <th scope="col">Country</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="s in sites" :key="s.siteId" @click="gotoTurbine(s.siteId)">
              <td>{{ s.siteId }}</td>
              <td>{{ s.siteName }}</td>
              <td>{{ s.primaryContact }}</td>
              <td>{{ s.capacity }}</td>
              <td>{{ s.commercialDate }}</td>
              <td>{{ s.addrState }}</td>
              <td>{{ s.addrCountry }}</td>
            </tr>
          </tbody>
        </table>

        <h3>Notes on client account</h3>
        <table class="table">

          <thead class="text-success">
            <tr>
              <th scope="col">Note #</th>
              <th scope="col">Client #</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody  v-for="n in notes">
            <tr>
              <!-- <td>{{ n.noteId }}</td>
              <td>{{ n.clientId }}</td> -->
              <td>{{ n.noteDescription }}</td>
            </tr>
          </tbody>
        </table>

      <div class="container">
        <h4>Add Comment</h4>
        <form @submit.prevent="postNote" id="newNoteForm">

          <!-- <div class="form-group">
            <label for="clientId">Client ID</label>
            <input type="text" class="form-control" v-model="newNoteForm.clientId" id="clientId" placeholder="Enter client ID">
          </div> -->

          <div class="form-group">
            <label for="noteDescription">Comment</label>
            <input type="text" class="form-control" v-model="newNoteForm.noteDescription" id="noteDescription" placeholder="Enter note for client account">
          </div>

          <button type="submit" class="btn btn-primary" id="submitNewNote">Submit</button>

          </form>
        </div>

      </div>

    <div class="footer container-fluid">
      <span>Alternative Green Systems</span>
    </div>

    </div>
    <!-- include javascript files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/site.app.js"></script>

  </body>
</html>
